.Title {
    font-size: 1.5em;
    font-weight: 600;
    color: #eee;
    text-align: center;
}

.Content {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.Content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.Content p {
    font-size: 1.1em;
    color: #eee;
    text-align: justify;
    margin: 0 10px;
    white-space: pre-wrap;
}

@media screen and (min-width: 800px) {
    .Content {
        flex-direction: row;
        padding-left: 10%;
        padding-right: 10%;
    }

    .Content img {
        margin-right: 20px;
    }
}