.page-title {
    font-size: 1.5em;
    font-weight: 600;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0.5rem;
}

.item-list .item {
    margin: 0.5rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.item-list .item img {
    width: 85px;
    height: 85px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.loading {
    animation: blink .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: initial;
    z-index: 1;
}


@keyframes blink {
    0% {
        opacity: .6;
    }

    100% {
        opacity: .1;
    }
}

.item-list .item h3 {
    font-size: 1rem;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    font-weight: 300;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}